[package]
name = "cargo-doc2readme"
version = "0.0.8"
description = "cargo subcommand to create a readme file containing the rustdoc comments from your code"
authors = ["Dominic <git@msrd0.de>"]
categories = ["command-line-utilities", "development-tools", "development-tools::cargo-plugins"]
keywords = ["cargo", "subcommand", "readme", "doc2readme", "rustdoc"]
edition = "2021"
repository = "https://github.com/msrd0/cargo-doc2readme"
license = "Apache-2.0"
readme = "README.md"
include = ["src/**/*", "Cargo.lock", "README.md", "LICENSE"]

[dependencies]
anyhow = "1.0.52"
cargo = { version = "0.58.0", features = ["openssl"] }
clap = { version = "3.0", features = ["derive"] }
git2-curl = "0.14.1"
itertools = "0.10"
pulldown-cmark = { version = "0.9", default-features = false }
semver = "1.0"
sha2 = "0.10.1"
siphasher = "0.3.7"
syn = { version = "1.0.85", features = ["full", "parsing"], default-features = false }
tera = { git = "https://github.com/msrd0/tera", rev = "e636269b1ce7833811872a91cdede34ddd0853d2", features = ["builtins_urlencode"], default-features = false }
unindent = "0.1.7"
url = "2.2"

[target.'cfg(any(target_arch = "x86", target_arch = "x86_64"))'.dependencies]
pulldown-cmark = { version = "0.9", default-features = false, features = ["simd"] }

[dev-dependencies]
indoc = "1.0"
pretty_assertions = "1.0"

[profile.release]
lto = true
opt-level = "z"
