{# this is the default template used when the user does not specify one #}

{%- if crate is defined -%}
# {{ crate }}
{%- endif %}
	{%- if license is defined %} ![License: {{ license }}](https://img.shields.io/badge/license-{{ license | replace(from="-", to="--") | urlencode }}-blue)
	{%- else %} ![License](https://img.shields.io/crates/l/{{ crate | urlencode }})
	{%- endif %}
	{%- if crate is defined %} [![{{ crate }} on crates.io](https://img.shields.io/crates/v/{{ crate | urlencode }})](https://crates.io/crates/{{ crate | urlencode }}){% endif %}
	{%- if crate is defined %} [![{{ crate }} on docs.rs](https://docs.rs/{{ crate | urlencode }}/badge.svg)](https://docs.rs/{{ crate | urlencode }}){% endif %}
	{%- if repository is defined %} [![Source Code Repository](https://img.shields.io/badge/Code-On%20{{ repository_host | replace(from="-", to="--") | urlencode }}-blue)]({{ repository }}){% endif %}
	{%- if repository is defined and repository is matching("^https://github\.com(/[^/]+){2}$") %}
		{%- set deps_rs_slug = repository | split(pat = "/") | slice(start = 3) | join(sep = "/") %}
		{%- set deps_rs = "https://deps.rs/repo/github/" ~ deps_rs_slug %} [![{{ crate }} on deps.rs]({{ deps_rs }}/status.svg)]({{ deps_rs }})
	{%- endif %}

{{ readme }}

{%- if links != "" %}
{{ links }}
{%- endif -%}
